- form_for @site do |form|
  = form.error_messages
  %ol.formList
    %li
      = form.label :name
      = form.text_field :name
    %li
      = form.label :url, "URL"
      = form.text_field :url
    %li
      -# for ss in @site.site_servers
      
      - form.fields_for :site_servers do |server_form|
        = server_form.label :server_id, "Server"
        = server_form.collection_select :server_id, @servers, :id, :name, {:include_blank => true}

    %li
      = form.submit "Submit"